.sample-app-content nav {
    padding: 30px;
}

.sample-app-content nav a {
    display: inline-block;
    margin-right: 15px;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
    color: black;
}

nav a {
    text-decoration: none !important;
}

.router-link-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black !important;
    font-weight: 700;
}