<div class="control-group">
    <table>
        <tr>
           <td (click)="onPageChanging(page)" *ngFor="#page of pages" class="btn" [class.active]="page === currentPage">{{page}}</td>
        </tr>
    </table>
</div>