<form role="form" class="form-horizontal" [ngFormModel]="form" (submit)="submit()">
	<div class="form-body">
		<div class="form-group">
			<label class="col-md-2 control-label" for="title">Title</label>
			<div class="col-md-10">
				<input
						type="text"
						id="title"
						class="form-control"
						placeholder="Title"
						[ngFormControl]="form.find('title')">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label" for="body">Body</label>
			<div class="col-md-10">
				<textarea
						id="body"
						class="form-control"
						rows="3"
						placeholder="Enter post here ..."
						[ngFormControl]="form.find('body')">
				</textarea>
			</div>
		</div>
	</div>
	<div class="form-actions">
		<div class="row">
			<div class="col-md-offset-2 col-md-10">
				<button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
				<button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
			</div>
		</div>
	</div>
</form>