<div class="form-body">
    <div>
        <label class="control-label right" for="search">Search:</label>
	   <div>
            <input #search type="text" id="search" (keyup)="searchTextEntered(search.value)" class="form-control" placeholder="Search" />
	   </div>
    </div>
    <br/>
    <div>
        <post-brief *ngFor="#post of currentPosts" [post]="post"></post-brief>
    </div>
    <br/>
    <div>
        <pager 
            [totalCount] = "totalCount"
            [pageSize] = "pageSize"
            [currentPage] = "currentPage"
            (pageChanged)="changePage($event)"
        ></pager>
    </div>
<div>