<div class="panel panel-default">
	<div class="panel-heading"><a [routerLink]="['/Post', { id: post.id }]">{{post.title}}</a></div>
	<div class="panel-body">
		{{post.body.length > 200 ? post.body.substring(0, 200) + "..." : post.body}}
	</div>
</div>